.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label{
    display: block;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    font-weight: bold;
}

.label > input{
    width: 100%;
    border: none !important;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    margin-top: 5px;
    transition: 0.6s;
}

.label > input:focus{
    outline: 2px solid #E94560 !important;
}

.back{
    background-color: #2B4865;
    color: #F637EC;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    transition: 0.5s;
}

.back:hover{
    background-color: #31E1F7;
}